body{
	min-width: 1550px;
	max-width: 1800px;
	font-family: Tahoma;
}

ul{
	margin: 0px; 	
}

@page {
	margin-top: 1in;
	margin-left: -120px;
}

#headler {
	background: #D06060; 
	height: 202px;
}

.headler_title_name{
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 480px;
	margin-right: 260px;
	white-space: nowrap;
	font-size: 60px;
	color: white;
}

.headler_title_position{
	position: relative;
	padding-left: 30px;
	margin-left: 480px;
	margin-right: 260px;
	border-radius: 8px;
	background-color: #E6E6E6; 
	white-space: nowrap;
	font-size: 30px;
}

#photo{
	position: absolute;
	padding: 20px;
	height: 160px;
	left: 268px;
}

#content{
	padding: 4px;
	margin-top: 10px;
	margin-left: 260px;
	margin-right: 260px;
	border-radius: 8px;
	background: #E6E6E6;
	font-size: 20px;
}

.content_title{
	margin-left: 10px;
	color: #E06060;
	font-size: 25px;
}

.content_data{
	border-radius: 8px;
	background: white;
}

#icon {
	padding-right: 10px;
	height: 30px; 
}

#footer{
	margin-top: 20px;
	background: #D06060; 
	text-align: center;
}